<h1><%= @task.title %></h1>
<hr>
<p><%= @task.details %></p>
<hr>
<label for="completed">Completed</label>
<input name='completed' type="checkbox" <%= "checked" if @task.completed == true %>>
<hr>
<p><%= link_to "back to list", tasks_path %></p>
<hr>
<p><%= link_to "Edit this task", edit_task_path %></p>
